.projects{
    height: 100vh;
}
.cardes{
    height: 530px;
    width: 400px;
    background: #7c5fe6;
   
}
.projectosss{
    margin-left: -4rem;
   width: 70vw;
  
   
}
.div-cards{
   width: 1300px;
}
@media(max-width:1375px){
    .projectosss{
        margin-left: -2rem;
        width: 90vw;
        padding: 0rem;
        margin-right: 0;   
    }
    .div-cards{
        width: 95%;
     }
}
@media(max-width:640px){
    .projectosss{
        margin-left: -1rem;
        width: 100vw;
        padding: 0rem;
  

        
    }
}
@media(max-width:415px){
    .projectosss{
        margin-left: -1rem;
        width: 100vw;
        padding: 0rem;        
    }
   .cardes{
        width: 99.9%;
    }
    .documentation-btn{
        font-size: 12px;
        height: 30px;
    }
    .sungeSunge{
        font-size: 12px;
    }
    .tch-btn{
        background: #7c5fe6;
        width: 25%;
        font-size: 12px;
    }
}
.div-cardss{
    
    margin-top: -1rem;
}
.documentation-btn{
   border: 1px solid white;
    background-color: white;
    color: #4285F4;
}
.tch-btn{
    background: #7c5fe6;

}