.blursses {
    width: 220px;
    height: 250px;
    left: 20%;
    top: 0%;
    transform: translateX(-50%);
    opacity: 1;   
    z-index: 3;
    background-color: #3b82f6;
    position: absolute;
    border-radius: 50%;
    filter: blur(250px);
    z-index: -1;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 1024px) {
    .blursses {
        width: 250px;
        height: 280px;
        filter: blur(200px);
        display: none;
    }
  }
  
  @media (max-width: 768px) {
    .blursses {
        width: 200px;
        height: 220px;
        filter: blur(150px);
        display: none;
    }
  }
  
  @media (max-width: 480px) {
    .blursses {
        width: 150px;
        height: 180px;
        filter: blur(100px);
        display: none;
    }
  }
  
.home{
    height: 75vh;
    position: relative;
    padding: 1rem 15.5%;

    @media (max-width: 1400px) {
      padding: 1rem 10%;
     
    }
}
.home-container{
    display: flex;
}
.home-container-left{
    flex: 1;
    margin-top: 4rem;
  
}
.home-text{
    font-size: 3rem;
    font-weight: bolder;
    width: 150%;

    
}
.It-img{
    
}
.frontend{
    width: 275px;
    box-shadow: #3b82f6 1px 1px 15px 1px;
}

.backend{
    width: 255px;
    box-shadow: #3b82f6 1px 1px 15px 1px;
}
.ics{
    margin-left: -7px;
}
.icns{
  right: 442px;
  top: 100px;
  
}
.poiner-1{
    margin-left: -1.9rem;
    margin-top: 67px;
    transform: rotate(-12deg);
}
.poiner-2{
    margin-top: 75px;
     margin-right: -2.2rem;
    margin-left: 3rem; 
    transform: rotate(40deg);
}
.home-par{
    color: white ;
    font-weight: 300;
    width: 70%;
    font-size: 16px;
}
.home-container-right{
    flex: 1;
    display: flex;
    
}   
.home-card{
    
    width: 750px;
}
.stick{
    
    position: absolute;
    margin-left: -7rem;
    transform: rotate(-20deg);
    
}
    
.tech-icon{
    
    width: 1rem;
    height: 1rem;

}
.techs {
    margin-left: 10px;
   justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 22px; /* Adjust as needed */
  }
  @media (max-width: 1650px) {
    .home{
        height: 70vh;
        
        padding: 1rem 15.5%;
    
        @media (max-width: 1400px) {
          padding: 1rem 10%;
         
        }
    }
    .home-container{
        display: flex;
    }
    .home-container-left{
        flex: 1;
        margin-top: 4rem;
      
    }
    .home-text{
        font-size: 2rem;
        font-weight: bolder;
        width: 150%;
    
        
    }
    .It-img{
        width: 400px;
        height: 400px;
        margin-left: 5rem;
    }
    .frontend{
        width: 300px;
    }
    
    .backend{
        width: 273px;
    }
    .ics{
        margin-left: -7px;
    }
    .icns{
      right: 302px;
      top: 150px;
    }
    .poiner-1{
        margin-left: -1.9rem;
        margin-top: 47px;
        transform: rotate(-12deg);
    }
    .faos{
        width: 10px;
        height: 10px;
        transform: scale(0.7);
    }
    .poiner-2{
        margin-top: 55px;
         margin-right: -2.2rem;
        margin-left: 3rem; 
        transform: rotate(40deg);
    }
    .home-par{
        color: white ;
        font-weight: 600;
        width: 70%;
        font-size: 15px;
    }
    .home-container-right{
        flex: 1;
        
    }   
    .home-card{
        
        width: 750px;
    }
    .stick{
        
        position: absolute;
        margin-left: -7rem;
        transform: rotate(-20deg);
        
    }
        
    .tech-icon{
        
        width: 1rem;
        height: 1rem;
    }
    .techs {
        margin-left: 10px;
       justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 22px; /* Adjust as needed */
      }

    }
    @media (max-width: 1260px) {
        .home{
            height: 70vh;
            
            padding: 1rem 10%;
        
            
        }
        .home-container{
            display: flex;
        }
        .home-container-left{
            flex: 1;
            margin-top:3rem;
          
        }
        .home-text{
            font-size: 2rem;
            font-weight: bolder;
            width: 150%;
        
            
        }
        .It-img{
            width: 400px;
            height: 400px;
            margin-left: 4rem;
        }
        .frontend{
            width: 275px;
            height: 35px;
          margin: 0;
        }
        
        .backend{
            width: 250px;
            height: 35px;
            margin-top: 0px;
            margin: 0;
        }
        .ics{
            margin-left: -7px;
        }
        .icns{
          right: 242px;
          top: 150px;
          gap: 1px;
        }
        
        
        .poiner-1{
            margin-left: -1.9rem;
            margin-top: 47px;
            transform: rotate(-12deg);
        }
        .faos{
            width: 10px;
            height: 10px;
            transform: scale(0.7);
        }
        .poiner-2{
            margin-top: 55px;
             margin-right: -2.2rem;
            margin-left: 3rem; 
            transform: rotate(40deg);
        }
        .home-par{
            color: white ;
            font-weight: 600;
            width: 85%;
            font-size: 13px;
        }
        .text-program{
            font-size: 13px;
        }
        .home-container-right{
            flex: 1;
            
        }   
        .home-card{
            
            width: 750px;
        }
        .stick{
            
            position: absolute;
            margin-left: -7rem;
            transform: rotate(-20deg);
            
        }
            
        .tech-icon{
            
            width: 0.9rem;
            height: 0.9rem;
        }
        .techs {
            margin-left: 10px;
           justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 22px; /* Adjust as needed */
          }
    
        }
        @media (max-width: 1000px){
            .home{
                height: 70vh;
                
                padding: 1rem 6.7%;
            
                
            }
            .home-container{
                display: flex;
            }
            .home-container-left{
                flex: 1;
                margin-top:2rem;
              
            }
            .home-text{
                font-size: 1.7rem;
                font-weight: bolder;
                width: 150%;
            
                
            }
            .It-img{
                width: 335px;
                height: 335px;
                margin-left: 1rem;
            }
            .frontend{
                width: 275px;
                height: 25px;
              margin: 0;
            }
            
            .backend{
                width: 250px;
                height: 25px;
                margin-top: 0px;
                margin: 0;
            }
            .ics{
                margin-left: -7px;
            }
            .icns{
              right: 172px;
              top: 150px;
              gap: 1px;
            }
            
            
            .poiner-1{
                margin-left: -1.9rem;
                margin-top: 47px;
                transform: rotate(-12deg);
            }
            .faos{
                width: 10px;
                height: 10px;
                transform: scale(0.7);
            }
            .poiner-2{
                margin-top: 55px;
                 margin-right: -2.2rem;
                margin-left: 3rem; 
                transform: rotate(40deg);
            }
            .home-par{
                color: white ;
                font-weight: 600;
                width: 80%;
                font-size: 13px;
            }
            .text-program{
                font-size: 13px;
            }
            .home-container-right{
                flex: 1;
                margin-right: -4rem;
                
            }   
            .home-card{
                
                width: 750px;
            }
            .stick{
                
                position: absolute;
                margin-left: -7rem;
                transform: rotate(-20deg);
                
            }
                
            .tech-icon{
                
                width: 0.9rem;
                height: 0.9rem;
            }
            .techs {
                margin-left: 10px;
               justify-content: center;
                display: flex;
                flex-wrap: wrap;
                gap: 22px; /* Adjust as needed */
              }
        
        }
        @media (max-width: 768px) {
            .home{
                height: 70vh;
                
                padding: 1rem 6.7%;
            
                
            }
            .home-container{
                display: flex;
            }
            .home-container-left{
                flex: 1;
                margin-top:2rem;
              
            }
            .home-text{
                font-size: 1.5rem;
                font-weight: bolder;
                width: 150%;
            
                
            }
            .It-img{
                width: 275px;
                height: 275px;
                margin-left: 1rem;
            }
            .frontend{
                width: 225px;
                height: 19px;
                gap: 1px;
              margin: 0;
            }
            
            .backend{
                width: 220px;
                height: 19px;
                margin-top: 0px;
                gap: 1px;
                margin: 0;
            }
            .ics{
                margin-left: -7px;
            }
            .icns{
              right: 102px;
              top: 150px;
              gap: 1px;
            }
            
            
            .poiner-1{
                margin-left: -1.9rem;
                margin-top: 47px;
                transform: rotate(-12deg);
            }
            .faos{
                width: 10px;
                height: 10px;
                transform: scale(0.5);
            }
            .poiner-2{
                margin-top: 55px;
                 margin-right: -2.2rem;
                margin-left: 3rem; 
                transform: rotate(40deg);
            }
            .home-par{
                color: white ;
                font-weight: 600;
                width: 80%;
                font-size: 10px;
            }
            .text-program{
                font-size: 9px;
            }
            .home-container-right{
                flex: 1;
                margin-right: -3rem;
                
            }   
            .home-card{
                
                width: 750px;
            }
            .tech-icon{
                
                width: 0.7rem;
                height: 0.7rem;
            }
        }
        @media (max-width: 600px) {
            .tech-icon{
                
                width: 0.9rem;
                height: 0.9rem; 
            }
            .home{
                height: 70vh;
                width: 100vw;
                padding: 0rem 6.7%;
            
                
            }
            .home-container{
                display: flex;
            }
            .home-container-left{
                flex: 1;
                margin-top:0rem;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
              
            }
            .shajt{
                display: flex;
                flex-direction: column;
                gap: 2px;
                margin-top: 1rem;
            }
            .home-text{
                font-size: 1.5rem;
                font-weight: bolder;
                width: 100%;
                text-align: center;
            
                
            }
            .It-img{
                width: 275px;
                height: 275px;
                margin-left: 1rem;
                display: none;
            }
            .frontend{
                width: 275px;
                height: 25px;
              margin: 0;
            }
            
            .backend{
                
                width: 275px;
                height: 25px;
                margin-top: 0px;
                margin: 0;
            }
            .ics{
                margin-left: -7px;
            }
            .icns{
              right:37%;
              top: 10%;
              gap: 1px;
            }
            
            
            .poiner-1{
                margin-left: -1.9rem;
                margin-top: 47px;
                transform: rotate(-12deg);
            }
            .faos{
                width: 10px;
                height: 10px;
                transform: scale(0.7);
            }
            .poiner-2{
                margin-top: 55px;
                 margin-right: -2.2rem;
                margin-left: 3rem; 
                transform: rotate(40deg);
            }
            .home-par{
                color: white ;
                font-weight: 600;
                width: 80%;
                font-size: 11px;
                text-align: center;
            }
            .text-program{
                font-size: 11px;
            }
            .home-container-right{
                flex: 1;
                margin-right: -3rem;
                
            }   
            .home-card{
                
                width: 750px;
            }
            .home-container-right{
                display: none;
                flex: 1;
                margin-right: -3rem;
                
            } 
        }
       
