/* Dekorativní kruhový prvek */
.blursses {
    position: absolute;
    top: 0;
    left: 80%;
    width: 20vw;       /* Relativní na viewport width */
    height: 20vw;      /* Zachovává poměr stran */
    max-width: 320px;  /* Omezení maximální velikosti pro větší obrazovky */
    max-height: 320px;
    transform: translateX(-50%);
    opacity: 0.8;
    z-index: -1;
    background-color: #3b82f6;
    border-radius: 50%;
    filter: blur(10vw); /* Relativní hodnota blur, která se přizpůsobí velikosti */
    transition: all 0.3s ease;
  }
  
  /* Obecný layout kontejneru */
  .home-container {
    display: flex;
    flex-wrap: wrap;
   
    
    padding: 2rem 0rem;
    position: relative;
  }
  
  /* Levá strana kontejneru (text a obrázky apod.) */
  .home-container-left {
    flex: 1;
    min-width: 280px;   /* Zajišťuje minimální šířku na menších zařízeních */
    padding: 1rem;
  }
  .shajt{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 70%;
  }
 
  /* Upravený text */
  .home-text {
    font-size: 3rem;
    font-weight: bolder;
    width: 100%;
    text-align: left;
  }
  
  .home-par {
    color: white;
    font-weight: 300;
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  /* Pravá strana kontejneru (např. obrazový blok) */
  .home-container-right {
    flex: 1;
    min-width: 280px;
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  /* Úprava obrázků a dalších elementů */
  .It-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
  }
  
  .frontend,
  .backend {
    
    max-width: 300px;
    box-shadow: #3b82f6 1px 1px 15px 1px;
   
  }
  
  /* Ikonky a další drobnosti */
  .techs {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  
  .tech-icon {
    width: 1rem;
    height: 1rem;
  }
  @media (max-width: 1400px) {
    .tech-icon {
      width: 0.7rem;
      height: 0.7rem;
    }
  }
  /* Doladění pro střední obrazovky a tablety */
  @media (max-width: 1000px) {
    .home-text {
      font-size: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .home-container-left{
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column  ;
    }
    .shajt{
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
    .frontend{
      margin: 0 auto;
    }
    .backend{
      margin: 0 auto;
    }
    .home-container-right{
      display: none;
    }
   
    .blursses {
      width: 25vw;
      height: 25vw;
      max-width: 300px;
      max-height: 300px;
      filter: blur(8vw);
    }
  }
  

  