.header {
  height: 80px;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  --background: #00060E;
  padding: 1rem 15.5%;

  
}
.linkos{
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  cursor: pointer;
  @media (max-width: 48em) {
    height: rem(42px);
    margin-left: -1rem;
    width: 100%;
   
  }
 
}
.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  cursor: pointer;

  @media (max-width: 48em) {
    height: rem(42px);
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

@media (max-width: 1400px) {
  
  .header {
    height: rem(80px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    
    padding: 1rem 10%;
  
    
  }
  .linkos{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: white;
    font-weight: 500;
    
    cursor: pointer;
    font-size: 12px;
  }
  .parosos{
    color: #3b82f6;
  }
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;
    
    cursor: pointer;

  }
}
.mobile{
  --background: #00060E;
}
.mobileSomePart{
  border: none;
  --background: #00060E;
}
@media (max-width: 1000px) {
  
  .header {
    height: rem(60px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    --background: #00060E;
    padding: 1rem 6.7%;
  
    
  }
  .linkos{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: #FFFF;
    font-weight: 500;
    
    cursor: pointer;
    font-size: 12px;
  }
  .parosos{
    color: #3b82f6;
  }
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 11px;
    padding-right: 11px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 500;
    
    cursor: pointer;

  }
}
@media (max-width: 768px) {
  
  .header {
    height: rem(60px);
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    color: black;
    padding: 1rem 6.7%;
  
    
  }
  .linkos{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    font-weight: 500;
    
    cursor: pointer;
    font-size: 15px;
  }
  .parosos{
    color: #3b82f6;
  }
  .link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    
    cursor: pointer;

  }
}
.parosos{
  color: #3b82f6;
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  }
}

.dropdownFooter {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}