.gradient-bg::before {
    background: linear-gradient(to right, #a4c7fe, #06B6D4);
  }
  .highlight {
    position: relative;
    background: linear-gradient(to right, #3B82F6, #06B6D4);
    border-radius: var(--mantine-radius-sm);
    padding: 2px  7px;
    color: white;

  }
  .font-ed{
    color:#805ad5;
  }