.gradient-bg::before {
    background: linear-gradient(to right, #a4c7fe, #06B6D4);
  }
  .highlight {
    position: relative;
    background: linear-gradient(to right, #3B82F6, #06B6D4);
    border-radius: var(--mantine-radius-sm);
    padding: 2px  7px;
    color: white;

  }
  .font-ed{
    color:white;
  }
 .card{
  box-shadow: #3B82F6 2px 2px 20px 2px;
 }
 .glow-text {
  text-shadow:
    0 0 5px rgba(59, 130, 246, 0.6),
    0 0 10px rgba(59, 130, 246, 0.5),
    0 0 20px rgba(59, 130, 246, 0.4);
}
.glow-textos {
  text-shadow:
    0 0 2px rgba(231, 239, 251, 0.6),
    0 0 5px rgba(231, 239, 251, 0.6),
    0 0 9px rgba(231, 239, 251, 0.6);
}


/* Responsive Adjustments */
@media (max-width: 1024px) {
  .blurss {
      width: 250px;
      height: 280px;
      filter: blur(200px);
      display: none;
  }
}

@media (max-width: 768px) {
  .blurss {
      width: 200px;
      height: 220px;
      filter: blur(150px);
      display: none;
  }
}

@media (max-width: 480px) {
  .blurss {
      width: 150px;
      height: 180px;
      filter: blur(100px);
      display: none;
  }
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .blurss {
      width: 250px;
      height: 280px;
      filter: blur(200px);
      display: none;
  }
}

@media (max-width: 768px) {
  .blurss {
      width: 200px;
      height: 220px;
      filter: blur(150px);
      display: none;
  }
}

@media (max-width: 480px) {
  .blurss {
      width: 150px;
      height: 180px;
      filter: blur(100px);
      display: none;
  }
}


